html {
  height:100%
}

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.report {
  min-height: 2.5rem;
  padding: .3rem;
}

.report:nth-of-type(odd) {
  background-color: rgba(0,0,0,.03)
}
